#countLabel{
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 10em;
  font-family: Helvetica, Arial;
}

#btnContainer{
  text-align: center;
}

.buttons{
  padding: 10px 20px;
  font-size: 1.5em;
  color: white;
  background-color: rgb(123, 31, 162);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
  margin: 8px 8px 8px 8px;
}

.buttons:hover{
  background-color: hsl(214,100%,74%);
}